<li>
  <a href="/questions/<%= q['id'] %>"><%= q['title'] %></a>
  votes: <%=q['votes']%>
  <%= button_to("△", question_upvote_path(q), method: "patch") %>
  <%= button_to("▼", question_downvote_path(q), method: "patch") %>
</li>
